<html>
<head>
    <title>node got me | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
 

   <h1>I am blessed by God</h1> 
   <%- include('./partials/footer.ejs') %>
   
</body>

</html>